@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

:root{
    /* Primary*/
    --Soft-orange: hsl(35, 77%, 62%);
    --Soft-red: hsl(5, 85%, 63%);

    /* Neutral*/
    --Off-white: hsl(36, 100%, 99%);
    --Grayish-blue: hsl(233, 8%, 79%);
    --Dark-grayish-blue: hsl(236, 13%, 42%);
    --Very-dark-blue: hsl(240, 100%, 5%);
    --font:'Inter', sans-serif;
}

*{
    box-sizing: border-box;
}

body{
    font-family: var(--font);
}



.main-container{
    /* display: flex; */
    /* border:5px solid red; */
    /* padding: 80%; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */
    /* max-height: 100vh; */
    /* margin: 0; */
}



.menu{
    /* margin: 1rem; */
    display: flex;
    align-items:baseline;
    /* flex-direction: row; */
    /* max-width: 80%; */
    /* align-items:; */

}

svg {
    display: block;
    max-width: 100%;
}
img {
    display: block;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: relative;
    max-width: 1200px;/*Ojo, jugar con este a lo ancho*/
    margin: 0 auto;
}

nav{
    position: relative;
}
nav ul{
    display: flex;
    flex-direction: row;
    gap: 2.3rem;
}

nav ul li, nav ul li a{
    list-style: none;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.19rem;
    color: var(--Dark-grayish-blue);

}

.hamburger {
    display: inline-block;
    cursor: pointer;
}

/* ul{


} */


.submenu2{
    display:inline;
    justify-content: end;
}

.menu span{
    margin: 1rem;
    /* position: relative;
    display: flex;
    justify-content:right; */

}
/* .menu p{
    text-align: left;
} */

.main-sub-container{
    /* border:5px solid green; */

}

.article-section{
    /* border:5px solid blue; */
    display: flex;
    margin-left: 4rem;
    margin-right: 4rem;

}

.article-section-img{
    /* width: 50%; */
    max-width: 45.6rem;
    /* border: 5px solid black; */
    padding: 1rem;

    /* margin: 0 auto; */
    display: flex;
    flex-direction: column;
    gap: 2.1rem;
}


.article-section-img img{
    max-height: 18.8rem;
    object-fit: cover;
    object-position: top;
}

.article-section-desc{
    /* border: 5px solid brown; */
    display: flex;
    /* margin: 1rem; */
    /* padding: 1rem; */
}

.article-section-desc-full{
    gap: 3rem;
}
.btn{
    background-color: var(--Soft-red);
    color: var(--Off-white);
    border: 0;
    padding: 1.2rem;
    font-weight: 700;
    letter-spacing: 2px;
}

.other-news{

    display: flex;
    margin-left: 4rem;
    margin-right: 4rem;
    /* margin: 1rem; */

}

.other-news-one{
    padding: 1rem;
    display: flex;
    max-width: 31.8rem;
    /* height: 8rem; */
}

.other-news-one-desc{
    margin: 1rem;
}

.other-news-one-desc p{
    /* margin: 1rem; */
    color: var(--Dark-grayish-blue);
}


.other-news-two{
    padding: 1rem;
    display: flex;
    max-width: 31.8rem;
}

.other-news-two-desc{
    margin: 1rem;
}

.other-news-two-desc p{
    color: var(--Dark-grayish-blue);
}

.other-news-three{
    padding: 1rem;
    display: flex;
    max-width: 31.8rem;
}

.other-news-three-desc{
    margin: 1rem;
}

.other-news-three-desc p{
    color: var(--Dark-grayish-blue);
}


.other-news-three-img{
    /* max-width: 50%; */
}

.news-seccion{
    /* border:5px solid rgb(68, 255, 0); */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--Very-dark-blue);
    color: var(--Off-white);
    margin: 1rem;
    padding: 2.5rem;
}

.news-seccion h1{
    color: var(--Soft-orange);
}



hr{
    /* height:20px;
    width: 10px;
    /* border-width:0; */
    color:gray;
    background-color:gray;
    border: 5px solid white;
    /* opacity: 0.5; */
}

/*Estilos para el footer*/
.attribution{
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}