@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

:root{
    /* Primary*/
    --Soft-orange: hsl(35, 77%, 62%);
    --Soft-red: hsl(5, 85%, 63%);

    /* Neutral*/
    --Off-white: hsl(36, 100%, 99%);
    --Grayish-blue: hsl(233, 8%, 79%);
    --Dark-grayish-blue: hsl(236, 13%, 42%);
    --Very-dark-blue: hsl(240, 100%, 5%);
    --font:'Inter', sans-serif;
}

*{
    box-sizing: border-box;
}

body{
    font-family: var(--font);
}



.main-container{
    /* display: flex; */
    border:5px solid red;
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */
    /* max-height: 100vh; */
    /* margin: 0; */
}



.menu{
    margin: 1rem;
    display: flex;
    align-items:baseline;
    /* flex-direction: row; */
    /* max-width: 80%; */
    /* align-items:; */

}

.menu span{
    margin: 1rem;
    /* position: relative;
    display: flex;
    justify-content:right; */

}
/* .menu p{
    text-align: left;
} */

.main-sub-container{
    border:5px solid green;

}

.article-section{
    border:5px solid blue;
    display: flex;


}

.article-section-img{
    width: 80%;
    border: 5px solid black;
    padding: 1rem;
}

.article-section-desc{
    border: 5px solid brown;
    display: flex;
    /* margin: 1rem; */
    /* padding: 1rem; */
}

.btn{
    background-color: var(--Soft-red);
    color: var(--Off-white);
    border: 0;
    padding: 1.2rem;
    font-weight: 700;
    letter-spacing: 2px;
}

.other-news{

    display: flex;
    /* margin: 1rem; */

}

.other-news-one{
    padding: 1rem;
    display: flex;
}

.other-news-one-desc{
    margin: 1rem;
}


.other-news-two{
    padding: 1rem;
    display: flex;
}

.other-news-two-desc{
    margin: 1rem;
}

.other-news-three{
    padding: 1rem;
    display: flex;
}

.other-news-three-desc{
    margin: 1rem;
}


.news-seccion{
    border:5px solid rgb(68, 255, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--Very-dark-blue);
    color: var(--Off-white);

    padding: 2.5rem;
}

.news-seccion h1{
    color: var(--Soft-orange);
}



hr{
    /* height:20px;
    width: 10px;
    /* border-width:0; */
    color:gray;
    background-color:gray;
    border: 5px solid white;
    /* opacity: 0.5; */
}

/*Estilos para el footer*/
.attribution{
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}